<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <h1 class="bg-warning text-white px-4 mb-4">Fruits inventory</h1>
  <div class="container">
    <h2 th:text="${title}"></h2>
    <p th:text="${msg}"></p>
    <div class="form-group my-3">
     <form method="post" action="/fruits/delete" th:object="${form}">
      <input type="hidden" name="id" th:value="*{id}">
      <div class="alert alert-warning">
      <ul>
       <li>ID: <span th:text="*{id}"></span></li>
       <li>Name: <span th:text="*{name}"></span></li>
       <li>Price: <span th:text="*{price}"></span></li>
       <li>Stock: <span th:text="*{stock}"></span></li>
      </ul>
      </div>
      <div>
        <input type="submit" class="btn btn-warning px-4" value="削除">
      </div>
     </form>
    </div>
  </div>
</body>
</html>
